data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/splits/*
!data/splits/.gitkeep

results/checkpoints/*
!results/checkpoints/.gitkeep

__pycache__/
*.py[cod]
*.egg-info/
dist/
.eggs/

.ipynb_checkpoints/

.DS_Store
wandb/
*.log